@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Fredoka', sans-serif;
  overflow: hidden;
}

/* Custom Scrollbar for Chat */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
